name: Global CI

on: ["push", "pull_request"]

jobs:
  e2e: 
    uses: konveyor/ci/.github/workflows/global-ci.yml@main
    with:
      run_api_tests: false
      run_ui_tests: true
      ui_tests_ref: ${{ github.event.number && format('refs/pull/{0}/merge', github.event.number) || '' }}
  example:
    runs-on: ubuntu-latest
    steps:
      - name: Show target branch of PR
        run: echo "Target branch is ${{ github.event.pull_request.base.ref }}"
