name: Global CI

on: ["push", "pull_request"]

jobs:
    e2e-main:
        uses: konveyor/ci/.github/workflows/global-ci.yml@main
        if: "${{github.event.pull_request.base.ref == 'main' }}"
        with:
            run_api_tests: false
            run_ui_tests: true
            ui_tests_ref: ${{ github.event.number && format('refs/pull/{0}/merge', github.event.number) || '' }}

    e2e-release-07:
        uses: konveyor/ci/.github/workflows/global-ci.yml@main
        if: "${{github.event.pull_request.base.ref == 'release-0.7' }}"
        with:
            run_api_tests: false
            run_ui_tests: true
            ui_tests_ref: ${{ github.event.number && format('refs/pull/{0}/merge', github.event.number) || '' }}
            tag: release-0.7
            operator_tag: v0.7.0
