name: run UI tests on minikube

on:
    workflow_call: # call from another workflow
        inputs:
            test_spec:
                type: string
                default: "cypress/e2e/tests/{ci,tier0}/**/*.test.ts"
                description: "Spec pattern for tests to run"

            feature_auth_required:
                type: boolean
                default: false

            bundle_image:
                type: string
                default: quay.io/konveyor/tackle2-operator-bundle:latest

            install_konveyor_version:
                type: string
                default: main

            test_ref:
                type: string
                default: main

    workflow_dispatch: # start from GitHub UI or API
        inputs:
            test_spec:
                description: "Spec pattern for tests (e.g., cypress/e2e/tests/tier0/**/*.test.ts)"
                type: string
                default: "cypress/e2e/tests/{ci,tier0}/**/*.test.ts"

            feature_auth_required:
                description: Enable authentication?
                type: boolean
                default: false

            bundle_image:
                description: Operator bundle image to use
                type: string
                default: quay.io/konveyor/tackle2-operator-bundle:latest

            install_konveyor_version:
                description: Ref in operator repo to use for the install-konveyor action
                type: string
                default: main

            test_ref:
                description: Ref in this repo to use for the tests
                type: string
                default: main

jobs:
    run-test:
        name: "Run tests - ${{ inputs.feature_auth_required && 'auth' || 'noauth' }}, test: ${{ inputs.test_ref }}, spec: ${{ inputs.test_spec }}, container: ${{ matrix.containers }}"
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                containers: [1, 2, 3, 4]

        steps:
            - name: Setup minikube
              uses: konveyor/operator/.github/actions/start-minikube@main
              with:
                  memory: "max"
                  cpus: "max"

            - name: Checkout the operator so we can pick the install-konveyor version to use dynamically
              uses: actions/checkout@v4
              with:
                  repository: konveyor/operator
                  ref: ${{ inputs.install_konveyor_version }}
                  path: konveyor-operator

            - name: Install konveyor using ${{ inputs.install_konveyor_version }}
              uses: ./konveyor-operator/.github/actions/install-konveyor
              with:
                  bundle_image: ${{ inputs.bundle_image }}
                  tackle_cr: |
                      kind: Tackle
                      apiVersion: tackle.konveyor.io/v1alpha1
                      metadata:
                        name: tackle
                      spec:
                        image_pull_policy: IfNotPresent
                        feature_auth_required: ${{ inputs.feature_auth_required }}

            - name: Wait for Ingress
              run: |
                  kubectl wait \
                    -n konveyor-tackle \
                    ingress/tackle \
                    --timeout=600s \
                    --for=jsonpath='{.status.loadBalancer.ingress[0]}'

                  minikube_ip=$(minikube ip)
                  echo "ingress is ready at: ${minikube_ip}"
                  echo "UI_URL=https://${minikube_ip}" >>$GITHUB_ENV

            - name: "Checkout the tests (ref: ${{ inputs.test_ref }})"
              uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.test_ref }}
                  path: tackle-ui-tests

            - name: Run UI tests (${{ inputs.test_spec }}) using default credentials from `cypress.config.ts`
              uses: cypress-io/github-action@v6
              env:
                  CYPRESS_baseUrl: "${{ env.UI_URL }}"
                  CYPRESS_git_user: "fakeuser"
                  CYPRESS_git_password: "${{ secrets.GITHUB_TOKEN }}"
                  CYPRESS_git_key: "${{ secrets.GITHUB_TOKEN }}"
                  SPLIT: ${{ strategy.job-total }}
                  SPLIT_INDEX: ${{ strategy.job-index }}
              with:
                  working-directory: tackle-ui-tests
                  spec: "${{ inputs.test_spec }}"
                  command: npx cypress run --spec "${{ inputs.test_spec }}" --env SPLIT=${{ strategy.job-total }},SPLIT_INDEX=${{ strategy.job-index }}

            - uses: actions/upload-artifact@v4
              if: failure()
              env:
                  AUTH_KIND: ${{ inputs.feature_auth_required && 'auth' || 'noauth' }}
                  TEST_KIND: ${{ inputs.test_ref }}
              with:
                  name: test-reports-${{ env.AUTH_KIND }}-${{ env.TEST_KIND }}-container-${{ matrix.containers }}
                  path: |
                      tackle-ui-tests/cypress/reports
                      tackle-ui-tests/cypress/screenshots
                      tackle-ui-tests/cypress/videos
