name: Test nightly tier0

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"

concurrency:
    group: tier0-nightly-${{ github.ref }}
    cancel-in-progress: true

jobs:
    nightly:
        strategy:
            fail-fast: false
            matrix:
                test_spec:
                    - "cypress/e2e/tests/{ci,tier0}/**/*.test.ts"
                feature_auth_required:
                    - true
                    - false
                refs:
                    - bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
                      install_konveyor_version: main
                      test: main

        name: "Nightly ${{ matrix.feature_auth_required && 'auth' || 'noauth' }}, @${{ matrix.refs.test }}, ${{ matrix.test_spec }}"
        uses: ./.github/workflows/run-ui-tests.yaml
        with:
            test_spec: ${{ matrix.test_spec }}
            feature_auth_required: ${{ matrix.feature_auth_required }}
            bundle_image: ${{ matrix.refs.bundle_image }}
            install_konveyor_version: ${{ matrix.refs.install_konveyor_version }}
            test_ref: ${{ matrix.refs.test }}
